@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.title{
    @include fonts-style(normal, $font-secundary, normal);
    margin: 0 auto 1rem;
    padding: .4rem;
    color: $text-color-primary;
}
.subtitles{
    @include fonts-style(.95em, $font-primary, 400);
    padding-top: 1.5rem;
    color: #8574c3;
}
.info{
    @include fonts-style(1em, $font-primary, 500);
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #8574c3;
    & > span{
        font-size: .85em;
    }
}