@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.header {
    @include flex-box(flex, row, center, space-between);
    @include font-style(2em, $font-primary, normal, $text-color-primary);
    width: 100%;
    min-height: 15vh;
    background-color: $bg-color-primary;
    box-shadow: $box-shadow;
    padding: 0 3%;
    &>div {
        @include flex-box(flex, row, center, normal);
        gap: 1rem;
        text-shadow: 2px 2px 4px rgba(59, 53, 53, 0.441);

        &>img {
            width: 60px;
        }
    }
    @media screen and (max-width: 628px) {
        text-align: center;
        flex-direction: column;
    }
    @media screen and (max-width: 428px) {
        font-size: 1.2em;
    }
}