@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-primary: Poppins, Arial, sans-serif;
$font-secundary: Roboto, Arial, sans-serif;
$body-bg-color: #e5e8fa;
$bg-color-primary: #219ebc;
$bg-color-secundary: #edf6f9;
$text-color-primary: #a2a2be;
$text-color-secundary: #20202e;