@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";


.mainContent {
    display: flex;
    gap: 1.5rem;
    padding: 3rem 1rem;
}

.weatherMainContent {
    width: 100%;
    padding: 1rem;
    align-items: center;
}

#cityNameAndDate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0 3rem;
}

#date {
    @include fonts-style(1.1em, $font-primary, normal);
    color: $text-color-primary;
    letter-spacing: .1rem;
}

#cityName {
    @include fonts-style(1.2em, $font-secundary, normal);
    letter-spacing: .15rem;
    color: $text-color-secundary;
}

.weatherMainContent>picture>img {
    max-width: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
}

#description {
    @include fonts-style(1.2em, $font-primary, normal);
    color: $text-color-primary;
    text-transform: capitalize;
}

#titleCurrentTemp {
    @include fonts-style(1em, $font-secundary, normal);
    margin: 1rem 0 .4rem;
    color: $text-color-secundary;
}

#currentTemp {
    @include fonts-style(1.5em, $font-primary, 600);
    color: $text-color-secundary;
}