@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";


.mainContent {
    display: flex;
    gap: 1.5rem;
    padding: 3rem 1rem;
}

.weatherMainContent {
    width: 100%;
    padding: 1rem;
    align-items: center;
}

#cityNameAndDate {
    @include flex-box(flex, row, start, space-between);
    width: 100%;
    margin: 1rem 0 3rem;
}

#date {
    @include font-style(1.1em, $font-primary, normal, $text-color-primary);
    letter-spacing: .1rem;
}

#cityName {
    @include font-style(1.2em, $font-secundary, normal, $text-color-secundary);
    letter-spacing: .15rem;
}

.weatherMainContent > picture > img {
    max-width: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
}

#description {
    @include font-style(1.2em, $font-primary, normal, $text-color-primary);
    text-transform: capitalize;
}

#titleCurrentTemp {
    @include font-style(1em, $font-secundary, normal, $text-color-secundary);
    margin: 1rem 0 .4rem;
}

#currentTemp {
    @include font-style(1.5em, $font-primary, 600, $text-color-secundary);
    @include flex-box(flex, row, center, start);
    & > img {
        width: 25px;
        height: 30px;
    }
}