@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card{
    @include flex-box(flex, column, normal, normal);
    @include common-measures(0 auto, .5rem);
    min-width: 15rem;
    border-radius: .75rem;
    background-color: $bg-color-secundary;
    box-shadow: $box-shadow;
    @media screen and (max-width: 940px) {
        width: 100%;
    }
}