@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card{
    display: flex;
    min-width: 15rem;
    margin: 0 auto;
    flex-direction: column;
    padding: .5rem;
    border-radius: .75rem;
    background-color: $bg-color-secundary;
}